@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Martel:wght@200;300;400;600;700;800;900&family=Quattrocento:wght@400;700&display=swap');

body , html , #root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Bodoni+Moda";
}